.filter{
    box-shadow: 0 0 2px grey;
    padding: 12px 16px;
    border-radius: 5px;
    /* overflow-x: scroll; */
}

.transaction-form label{
    color: rgba(0, 0, 0, 0.43);
}

/* .transaction-form input:focus{
    border: 1px solid grey;
    border-bottom: 1px solid gray;
}

.transaction-form input{
    border: 1px solid grey;
    border-bottom: 1px solid gray;
 
} */

.view-switch{
border: 1px solid black;
padding: 5px 10px;
border-radius: 3px;
}

.anticon svg{
    font-size: 20px;
    cursor: pointer;
}

.active-icon{
    color: black;
}
.inactive-icon{
    color: grey;
}

@media screen and (max-width:600px){
    .filter{
        overflow-x: scroll;
    }
}